/* Default settings */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /*  (10/16 *100) = 62.5  */
    font-size: 62.5%;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    box-sizing: border-box;
}

@media screen and (max-width:768px) {
    html {
        /*  (10/16 *100) = 62.5  */
        /* font-size: 50%; */
    }
}

/* typography */

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
    /* border-radius: 10rem; */
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn-white {
    color: #fff;
    border: .2rem solid #fff;
    border-radius: 3px;
}
.btn-white:hover{
    color: #fff;
    border: .2rem solid #fff;
}

/* Header */

.header {
    height: 10rem;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    width: 100%;
    z-index: 9999;
}

/* .logo-box {
    margin-top: 2rem;
} */

.logo {
    height: 6rem;
    width: auto;
}

/* Navigation */

.navigation {
    bottom: 0;
    left: 65%;
    transform: translateX(-50%);
    position: absolute;
    display: inline-block;
    width: 65rem;
}

.navigation__list {
    /* list-style: none; */
    text-align: center;
    width: 60rem;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
}

.navigation__item {
    display: inline;
    /* margin: 1rem; */
}

.navigation__link,
.navigation__link:link,
.navigation__link:visited {
    display: inline;
    font-weight: 700;
    padding: .5rem .5rem;
    color: rgb(211, 149, 40) !important;
    /* text-decoration: none; */
    font-size: 1.7rem;
    border: 1px solid transparent;
}

.navigation__link:active {
    border-bottom: 1px solid rgb(211, 149, 40) !important;
    border-radius: 100px;
}

.navigation-menu-sub {

    top: -.5rem;
    right: 10rem;
    /* transform: translateX(-50%); */
    position: absolute;
    display: inline-block;
    background-color: rgb(43, 37, 109);
    width: 60rem;
    height: 32px;
    z-index: 2000;
}

.navigation-menu-sub::before {
    content: url('../img/webF.jpg');
    display: inline-block;
    position: absolute;
    left: -3.9rem;
    top: 0;
    width: 20px;
    height: 40px;
}

.navigation-menu-sub::after {
    content: url('../img/webFback.jpg');
    display: inline-block;
    position: absolute;
    right: -19px;
    top: 0;
    width: 20px;
    height: 40px;
    ;
}
.navigation-menu-sub .navigation__list .navigation__item {
    display: inline;
    margin: .5rem 0;
}
.nav-sub-link,
.nav-sub-link:link,
.nav-sub-link:visited {
    color: #fff !important;
    font-size: 1.2rem !important;
}
.nav-sub-link:hover {
    border: 1px solid transparent !important;
    font-weight: 700;
}
.search-box {
    display: inline;
    width: 12rem;
    position: relative;
}
.search {
    height: 18px;
    margin: 2px;
    padding-right: 1.5rem;
}
.search-icon {
    line-height: 1;
    position: absolute;
    top: 0px;
    right: 2px;
    background-color: rgb(206, 154, 52);
    font-size: 1rem;
    padding: 4px 10px;
    color: #fff;
}
.navbar-default {
    display: none !important;
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    background-color: rgb(43, 37, 109) !important;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
    height: 3px !important;
}

@media screen and (max-width: 959px) {
    .navbar {
        display: block !important;
        margin-bottom: 0;
    }
    .navbar .nav {
        float: right !important;
    }
    .header {
        display: none;
    }
    .navigation-menu-sub,
    .navigation {
        display: none;
    }
    .navigation__link_nav,
    .navigation__link_nav:link,
    .navigation__link_nav:visited {
        color: rgb(211, 149, 40) !important;
        font-size: 1.5rem;
        text-align: center;
        /* padding: 15px 5px; */
    }
    @media screen and (min-width: 768px) and (max-width: 1008px) {
        .navigation__link_nav,
        .navigation__link_nav:link,
        .navigation__link_nav:visited {
            color: rgb(211, 149, 40) !important;
            font-size: 1.5rem !important;
            text-align: center;
            padding: 15px 10px !important;
        }
    }
    @media screen and (max-width: 768px) {
        .navbar .nav {
            float: none !important;
        }
    }
    .logo-box_nav img {
        height: 4.5rem;
        margin: .25rem 2rem;
        width: auto;
        z-index: 999;
    }
}
body{
    position: relative;
}
main {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 1008px) {
    main{
        position: unset;
    }
}
/* banner */
.banner {
    clear: both;
    display: block;
    /* height: 85vh; */
    position: relative;
}
.banner .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.banner-img {
    height: 95vh !important;
}
.carousel-caption {
    left: 0 !important;
    top: 60% !important;
    transform: translateY(-50%) !important;
    width: 65%;
    background-image: linear-gradient(to right, rgba(42, 37, 109, 0.8), rgba(42, 37, 109, 0.1));

}
/* 
.banner-img{
    height: auto;
    width: 100%;
}*/
.banner__text-box {
    /* padding-left: 15rem;
    padding-bottom: 2rem; */
}
@media screen and (max-width: 768px) {
    .carousel-caption  {
        width: 100% !important;
        padding-left: 0;
        text-align: center;
    }
}
.banner__text-primary {
    display: block;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 149, 76);
}
.banner__text-sub {
    line-height: 1.5;
    display: block;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;
    margin-bottom: 1rem;
} 
.highlight {
    font-weight: 800;
}
.banner__link:link,
.banner__link:active,
.banner__link {
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    color: #fff !important;
    font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
    .banner__text-primary {
        display: block;
        font-size: 2.5rem;
        font-weight: 800;
        color: rgb(255, 149, 76);
    }
    .banner__text-sub {
        line-height: 1.5;
        display: block;
        font-size: 1.8rem;
        font-weight: 300;
        color: #fff;
        margin-bottom: 1rem;
    }
    .banner__link:link,
    .banner__link:active,
    .banner__link {
    position: absolute;
    bottom: 5rem;
    right: 3rem;
    color: #fff !important;
    font-size: 2rem;
} 
}


/* section feature */

.section-feature {
    background-image: linear-gradient(to bottom, rgba(254, 111, 6, .6), rgba(254, 111, 6, .8));
}
.section-feature-box {
    padding: 2rem 0;
    margin: 0 auto;
}
.section-feature-heading-sub span {
    display: block;
}
.section-feature-heading-sub,
.section-feature-heading-main {
    color: #fff !important;
    display: block;
    text-align: center
}
@media screen and (max-width:768px) {
    .section-feature-heading-sub span {
        display: inline;
    }
}
.section-feature-heading-main {
    line-height: 1.5;
    font-size: 6rem;
    letter-spacing: .5rem;
}
.section-feature-heading-sub {
    line-height: 1;
    font-size: 2rem;
}
.section-feature__link {
    bottom: 0;
}
.section-feature__link-box {
    text-align: right;
    width: 100%;
    padding-right: 2rem;
    padding-bottom: 1rem;
}
.section-feature__link:link,
.section-feature__link:active,
.section-feature__link {
    color: #fff !important;
    font-size: 2rem;
}

/* section about */

.about {
    position: relative;
    background-image: url('../img/college.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: auto;
    width: 100%;
}
.about-info {
    width: 90%;
}
.college-info {
    min-height: 40rem;
    /* width: 80%; */
    background-color: rgba(0, 0, 0, .5);
    margin: 4rem auto;
    padding: 4rem 5rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
.college-info-heading {
    font-size: 3.2rem;
    line-height: 1;
    display: block;
    color: #fff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5rem;
}
.btn-blue {
    display: block !important;
    color: #fff;
    background-color: #3d4aaa;
    margin: 3rem 1rem !important;
    border-radius: 3px;
}
.btn-yellow {
    display: block !important;
    color: #fff;
    display: block;
    margin: .7rem 1rem;
    background-color: #edb101;
    border-radius: 3px;
}
.btn-yellow:hover,
.btn-blue:hover,
    {
    color: #fff !important;
}
.college-events {
    background-color: #fff;
    height: 100%;
    width: 100%;
}
.college-events {
    min-height: 40rem;
    width: 48% !important;
    background-color: rgb(224, 220, 209);
    margin: 4rem .8rem;
    padding: 0;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}
@media screen and (max-width: 768px) {
    .college-events {
        width: 100% !important;
        margin: 0 auto;
    }
}
.tab-pane {
    background-color: #fff;
}
.button-box {
    width: 100%;
    text-align: center;
}
.nav-pills {
    margin-bottom: 3rem;
}
.college-events-tab {
    width: 50% !important;
    margin: 0 !important;
}

.nav-pills>li>a {
    border-radius: 0 !important;
    font-size: 2rem !important;
    font-weight: 700;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: rgb(150, 143, 117);
    color: rgb(60, 71, 176);
    font-size: 2rem !important;
    font-weight: 700;
}
.tab-content {
    margin: 0 15px;
}
.tab-content>.tab-pane {
    height: 24rem;
    overflow: auto;
}
.button-box .active {
    background-color: rgb(150, 143, 117);
}
.button-box span {
    color: #fff;
    display: inline-block;
    width: 49.7%;
    line-height: 6rem;
    font-size: 2rem;
}
.college-events-list {
    margin: 4rem;
    padding: 1rem 2rem;
    background-color: #fff;
    text-align: left;
    margin-bottom: 2rem;
}
.college-events-text {
    padding: 1rem 1rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 2rem;
    text-align: left;
}
.college-events-text:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.btn-grey {
    background-color: rgb(100, 100, 100);
    border-radius: 5px;
    padding: 1rem 5rem !important;
    margin: 1.5rem auto;
    color: #fff;
}
.about__link {
    color: red;
    font-size: 2rem;
    font-weight: 700;
    position: absolute;
    right: 1rem;
    bottom: 0;
}

/*college-programs*/

.college-programs {
    background-color: rgb(238, 238, 238);
    /* border-bottom: 1px solid #777; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.btn-programs {
    color: #fff;
    font-size: 1.5rem;
    background-color: rgb(255, 117, 16);
    padding: 1.3rem 2.5rem !important;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.program-link {
    color: rgb(255, 117, 16);
    display: block;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0 1rem 0;
}
.program-hedding {
    color: rgb(141, 143, 142);
}
.program-text {
    font-size: 1.6rem;
}
.college-activities {
    position: relative;
    text-align: center;
    color: white;
}
.activities-headding {
    position: absolute;
    bottom: 1.2rem;
    left: 3rem;
}
.college-activities img {
    width: 100%;
    padding: 1rem 0;
}

/* grid code */

.myrow {
    max-width: 114rem;
    margin: 0 auto;
}

.myrow:not(:last-child) {
    margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
    .myrow:not(:last-child) {
        margin-bottom: 6rem;
    }
}
@media only screen and (max-width: 56.25em) {
    .myrow {
        max-width: 50rem;
        padding: 0 3rem;
    }
}
.myrow::after {
    content: "";
    display: table;
    clear: both;
}
.myrow [class^="col-"] {
    float: left;
}
.myrow [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
    .myrow [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
    }
}
@media only screen and (max-width: 56.25em) {
    .myrow [class^="col-"] {
        width: 100% !important;
    }
}
.myrow .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}
.myrow .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}
.myrow .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.myrow .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}
.myrow .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.myrow .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}

/* gallery */

.gallery {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
.Highlights-img {
    width: 100%;
    height: auto;
    border: 3px solid rgb(137, 136, 134);
    border-radius: 3px;
}
.Highlights ul li {
    font-size: 11px;
    padding: 2px 0;
    list-style: none;
    color: rgb(44, 32, 104);
}
.gallery-headding {
    color: rgb(255, 121, 22);
}
@media screen and (max-width:768px) {
    .image-box{
        text-align: center;
    }
    .Highlights-img {
        width: 80%;
    }
    .Highlights ul li {
        text-align: center;
        font-size: 14px;
    }
    .u-remove-margin-bottom {
        margin-bottom: 0;
    }
}

/*Apply-now*/

.apply-now {
    width: 100%;
    background-color: rgb(202, 154, 44);
    padding: 2rem 6rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(162, 127, 37);
}
.apply-now-heading-main {
    font-size: 3rem;
    font-weight: 600;
}
.apply-now-heading-sub {
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.2
}
.apply-now-textbox {
    margin: 0 auto;
    text-align: left;
    margin-bottom: 2rem;
}
.apply-now-btn-box {
    height: 10rem;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
@media screen and (max-width:768px) {
    .apply-now-btn-box {
        justify-content: center !important;
    }
}
.btn-apply {
    color: #fff;
    background-color: rgb(66, 108, 220);
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .apply-now-textbox {
        text-align: center;
    }
    .apply-now-btn-box {
        text-align: center;
    }
}

/* footer */

.footer {
    width: 100%;
}
.footer-head {
    width: 100%;
    background-color: rgb(20, 45, 86);
}
.footer-college-logo {
    display: flex;
    justify-content: flex-start;
}
.footer-logo-box {
    padding: 6rem 0;
    text-align: center;
    width: 100%;
}
.University-address {
    padding: 4rem;
    font-size: 1.3rem;
}
.address {
    color: #fff;
}
.strong {
    font-size: 1.8rem;
    color: rgb(200, 153, 35);
}
.email {
    color: rgb(200, 153, 35);
}
.footer-link {
    color: #fff;
}
.footer__links {
    width: 100%;
    color: #fff;
    background-color: rgb(202, 154, 44);
}
.footer-navigation__item {
    display: inline;
    padding: 2rem 1rem;
}
@media screen and (max-width: 768px) {
    .footer-navigation__item {
        display: block;
        padding: .5rem 1rem;
    }
}
.footer-nav {
    padding: .8rem;
}
.footer-link {
    /* display: inline-block; */
    font-weight: 700;
    padding: 2rem .5rem;
    color: #fff !important;
    text-decoration: none;
    font-size: 1.7rem;
    border: 1px solid transparent;
}
.footer__sub {
    width: 100%;
    background-color: rgb(20, 45, 86);
    padding: 1rem 1rem;
}
.footersub-link {
    display: inline;
    padding: 0 1rem;
    color: #fff;
}
.footersub-link:not(:last-child) {
    border-right: 1px solid #fff;
    line-height: 1.5;
}
@media screen and (max-width: 768px) {
    .footer-navigation__item {
        display: block;
        padding: .5rem 1rem;
    }
    .footersub-link {
        display: block;
    }
    .footersub-link:not(:last-child) {
        border-right: none;
        line-height: 1.5;
    }
}
.Copyright {
    color: #fff;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
}
.social-icon {
    font-size: 48px;
    padding: 6rem 1rem;
}
@media screen and (max-width: 992px) {
    .footer-logo-box {
        padding: 2rem 1rem;
    }
    .University-address {
        padding: 2rem 1rem;
        ;
    }
    .social-icon {
        padding: 2rem 1rem;
    }
}
@media screen and (max-width: 768px) {
    .apply-now-textbox {
        text-align: center;
    }
    .apply-now-btn-box {
        text-align: center;
    }
    .social-icon {
        padding: 2rem 1rem;
    }
    h3 {
        font-size: 2rem;
        font-weight: 700;
    }
}

/* testimonial */

.testimonials {
    padding: 2rem 0;
}

.testimonial-box {
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background-color: rgb(60, 71, 176);
    height: auto;
    min-height: 420px;
}

.testimonial-heading {
    font-size: 2.5rem;
    padding: 1rem 0;
}

.testimonial-image-box img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
}
.testimonial-author {
    font-size: 1.7rem;
    font-weight: 400;
}
.testimonial-author-desig,
.testimonial-author-comp {
    font-size: 1.4rem;
}
.testimonial-text {
    padding: 0 4rem;
    font-size: 1.2rem;
}
.line-sep {
    width: 10rem;
    height: .5rem;
    background-color: #fff;
    margin: 1rem auto;
}


/*mobile-header*/
.mobile-header{
    display:none;
}
@media screen and (max-width:768px){
    /* main {
        position: unset;
    } */
    .mobile-header{
        position: relative;
        display:block;
        background-color: #3d4aaa;
        widows: 100%; 
        text-align: center;
        padding:1rem;
        /* height: 10rem; */
    }
    .search-box {
        display: inline;
        
        margin:0 auto;
        position: relative;
    }
    
    .search {
        height: 24px;
        width: 80vw!important;
        margin: 5px;
        padding-right: 1.5rem;
        padding:1rem;
       
    }
    
    .search-icon {
        line-height: 1.95;
        position: absolute;
        top: -4px;
        right: 5px;
        background-image: linear-gradient(to bottom, rgba(254, 111, 6, .6), rgba(254, 111, 6, .8));
        /* background-color: rgb(153, 120, 55); */
        font-size: 1rem;
        padding: 2px 10px;
        color: #fff;
    
    }
    .quick-links{
        width:80vw;
        height: 2.4rem;
    }
    
    
}