*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: inherit;
}
html{
     /*  (10/16 *100) = 62.5  */
    font-size: 62.5%; 
}
body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    box-sizing: border-box;
}
/*college-programs*/
.btn-programs{
    color:#fff;
    font-size: 1.5rem;
    background-color: rgb(255, 117, 16);
    border-radius: 3px;
    padding:1.3rem 2.5rem !important;
    margin-top: 4rem;
}
.program-link{
    color:rgb(255, 117, 16);
    display: block;
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0 1rem 0;
}
.program-text{
    font-size: 1.6rem;
}

.college-activities{
    position: relative;
    text-align: center;
    color: white;
}
.activities-headding{
    position: absolute;
    bottom: 1.2rem;
    left: 3rem;
}
.college-activities img{
    width:100%;
    padding: 1rem 0;
   
}
/*Achievements*/
.Achievements{
   background-color: orange;
   color: #fff;
}
/*about-us*/
.about-us{
    background-image: url('../img/college.jpeg');
    background-size: cover;
    height: 90vh;
}
.about-box{
    background-color: rgba(48, 53, 49, .2);
    padding:10%;
    
}
.Our-Campuses{
    background-color: 
}
/*Highlights*/
.Highlights-img{
    width:98%;
}
.Highlights{
    margin-top: 10px;
}

.Highlights li{
    list-style: none;
}